div{
    background-color: tomato;
    padding: 10px;
    margin-bottom: 10px;
    
}
h2{
    background-color: blueviolet;
    font-weight:bolder ;
    font-size: larger;
}
h1,h3{
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    background-color: aqua;
}